<!DOCTYPE html>
<html>
<head>
  <title>RubyGettingStarted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  

 
  
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PZ29ZT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PZ29ZT');</script>
<!-- End Google Tag Manager -->
  <script>
    
       dataLayer = [{
      'pagecategory': 'signup',
      'visitorType': 'high-value'
                  }];
       
            dataLayer.push({
                'transactionId': '6535863',
                'transactionTotal': 0.99,
                'transactionTax' : 0.09,
                'transactionShipping': 0.00,
                'transactionProducts': 'transactionProducts',
                'event' : 'transReady'
            });
  </script>
  
   
<%= yield %>

</body>
</html>
